<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Grocery App</title>
    <script src="{{ url_for('static', filename='action.js')}}"></script>
  </head>

  <body style="min-height: 100vh">
    {% include "includes/navbar.html" %} {% include "includes/messages.html" %}

    <div class="edit-table-flex">
      <!-- Editable table -->
      <div class="container">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Customer <b>Details</b></h2>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-info add-new btn-warning">
                <i class="fa fa-plus"></i> Add New
              </button>
            </div>

            <div
              class="btn btn-info btn-warning"
              id="displaymessage"
              style="display: none; width: 100%; margin-top: 10px"
            ></div>
          </div>
        </div>

        <input id="myInput" type="text" placeholder="Search.." />
        <br /><br />
        <table class="table table-bordered" id="myTable">
          <thead>
            <tr>
              <th style="width: 30%">Image</th>
              <th style="width: 30%">Name</th>
              <th style="width: 30%">Email</th>
              <th style="width: 20%">Phone</th>
              <th style="width: 15%">Password</th>
              <th style="width: 15%">Person type</th>
              <th style="width: 15%">Money</th>
              <th style="width: 15%">Options</th>
            </tr>
          </thead>

          <tbody>
            {% for row in data %}
            <tr id="{{row.key}}">
              <td>
                <button
                  class="imageUpload"
                  style="background-color: transparent; border: none"
                >
                  {% if row.image %}<img
                    class="image-border image-size"
                    src="{{row.image}}"
                    alt="Costumer image"
                  />{% else %}
                  <img class="image-size image-border"
                    src="../static/image/anonymous.png"
                    alt="Anonym Costumer image"
                  />{% endif %}
                </button>

                <div class="imageInput" style="display: none">
                  <div>
                    <div>
                      <label for="filetemp">Browse</label>
                      <input
                        style="opacity: 0; position: absolute; top: 0; right: 0"
                        type="file"
                        id="filetemp"
                      />
                      <div style="display: flex; justify-content: center">
                        <button style="width: 4rem; margin-right: 0.5rem" id="">
                          Upload
                        </button>
                        <button style="width: 4rem" class="cancelUpload">
                          Close
                        </button>
                      </div>
                    </div>
                    <div>
                      <p id=""></p>
                      <progress
                        style="width: 80%"
                        value="0"
                        max="100"
                        id=""
                      ></progress>
                    </div>
                  </div>
                </div>
              </td>
              <td>{% if row.name %}{{row.name}}{% else %}Unknown{% endif %}</td>
              <td>
                {% if row.email %}{{row.email}}{% else %}Unknown{% endif %}
              </td>
              <td>
                {% if row.phoneNumber%}{{row.phoneNumber}}{% else %}Unknown{%
                endif %}
              </td>
              <td class="hidetext">{{row.password}}</td>
              <td>
                {% if row.type == 1 %}Cashier{% else %}Costumer{% endif %}
              </td>
              <td>{{row.wallet}}</td>
              <td>
                <a class="add" title="Add" data-toggle="tooltip"
                  ><i class="fa fa-check"></i
                ></a>
                <a class="edit" title="Edit" data-toggle="tooltip"
                  ><i class="fa fa-pencil"></i
                ></a>
                <a class="delete" title="Delete" data-toggle="tooltip"
                  ><i class="fa fa-trash-o"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p id="getImageUrl" class=""></p>
      </div>

      <footer class="costumer-footer">
        <div>
          <span>Grocery app official</span>
          <span>&#174;</span>
        </div>
      </footer>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-storage.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAQdY2VV4QOR_7zGT1PpB1jMRLNKXEB19w",
        authDomain: "high-lacing-330220.firebaseapp.com",
        databaseURL: "https://high-lacing-330220-default-rtdb.firebaseio.com",
        projectId: "high-lacing-330220",
        storageBucket: "high-lacing-330220.appspot.com",
        messagingSenderId: "41516160651",
        appId: "1:41516160651:web:d9fd0340582463b28f268e",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>

    <script>
      var files = [];
      $(document).on("change", "#files", function (e) {
        files = e.target.files;
        for (let i = 0; i < files.length; i++) {
          console.log(files[i]);
        }
        $(this)
          .parent()
          .parent()
          .parent()
          .siblings()
          .children("img")
          .attr("src", "../static/image/anonymous.png");
      });
      $(document).on("click", "#send", function () {
        var costumerId =
          this.parentElement.parentElement.parentElement.parentElement
            .parentElement.parentElement.id;
        //checks if files are selected
        if (files.length != 0) {
          //Loops through all the selected files
          for (let i = 0; i < files.length; i++) {
            //create a storage reference
            var storage = firebase.storage().ref("profiles/" + costumerId);
            // var userdb = firebase.database().ref("users/" + costumerId);
            //upload file
            var upload = storage.put(files[i]);

            /*var imageUrl = 23;
            imageUrl = function(file){
              storage
            .getDownloadURL()
            .then(function (url) {
              //$("#getImageUrl").attr("class", url);
              return url;
            });
            }
            console.log(imageUrl)
            

*/

            //update progress bar
            upload.on(
              "state_changed",
              function progress(snapshot) {
                var percentage =
                  (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                document.getElementById("progress").value = percentage;
              },

              function error() {
                alert("error uploading file");
              },

              function complete() {
                document.getElementById("uploading").innerHTML = "uploaded";
              }
            );
          }
        } else {
          alert("No file chosen");
        }
      });
    </script>
  </body>
</html>
