{% extends "layout.html" %}

{% block body %}

{% from "includes/formhelpers.html" import render_field %}
<div style="display:flex; justify-content: center; width:100%">
    <div>
        <h3>Log in</h3>
    <hr>
    <form  method = "post">
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}

        <button type="submit" class="btn btn-warning">Log in</button>
        <a type="submit" class="btn btn-secondary" href="/reset_password">Forgot Password</a>
    </form>
    </div>


</div>


{% endblock body %}