<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Verify your email</title>
  </head>
  <body>

	<div class="primary-color d-flex flex-column justify-content-center align-items-center">
    <div class="white-box d-flex flex-column">
        <h2 class="text-center"> We sent you a mail </h2>
        <h2 class="text-center text-muted" > Please verify your email to continue </h2>
    </div>
  </div>

  </body>
</html>